* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1b1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #490b41;
    font-size: 24px;
    margin-bottom: 20px;
}

.from-groups, .to-groups, .text-area {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    background-color: #490b41;
    color: white;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #490b41;
}

.translated {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    min-height: 50px;
}

#input-translated {
    font-size: 14px;
    color: #333;
}
